/* HEADER */
.animation-btn:hover {
  animation: wobble-hor-bottom 0.7s both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 30% 30%;
  }
  15% {
    transform: translateX(-10px) rotate(-2deg);
  }
  30% {
    transform: translateX(10px) rotate(2deg);
  }
  45% {
    transform: translateX(-5px) rotate(-2.6deg);
  }
  60% {
    transform: translateX(5px) rotate(1.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* LOADING */
.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(75deg);
  width: 15px;
  height: 15px;
}
.loading::before, .loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 15px;
  height: 15px;
  border-radius: 15px;
  animation: loading 1.5s infinite linear;
}
.loading::before {
  box-shadow: 15px 15px #E67E22, -15px -15px #2542A2;
}
.loading::after {
  box-shadow: 15px 15px #F8A5C2, -15px -15px #2ecc71;
  transform: translate(-50%,-50%) rotate(90deg);
}

@keyframes loading {
  50% {
      height: 45px;
  }
}

.loading-text {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(8,164,149);
}

/* DATA TABLE */
.fade-in-table {
  animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
  
  /* LOGIN PAGE */
.animation-bg {
  background: rgba(0,0,0,.8);
  position: relative;
  overflow: hidden;
}
.animation-bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/login_bg.jpg') center center no-repeat;
  background-size: cover;
  opacity: .1;
  animation: anim 20s linear infinite;
}
@keyframes anim {
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.animation-logo-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in-top 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.expand-icon-animate {
  animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.select-time-animate {
  animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
  
.animation-form {
    animation-duration: 3s;
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeUpForm
}
    
@keyframes fadeUpForm {
    from {
      transform: translate3d(0,70px,0)
    }
    to {
      transform: translate3d(0,0,0);
      opacity: 1
    }
}

.animation-text {
  -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.return-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin-bottom: 20px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin-bottom: 20px;
}
.upload-btn-wrapper input[type=file] {
  position: absolute;
  width: 100%;
  opacity: 0;
  padding: 0px !important;
  cursor: pointer;
  height: 100%;
}
.upload-btn {
    color :#FFF !important;
    background: #08A495 !important;
    padding:6px 12px !important;
    border-radius: 5px !important;
    font-size:14px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
